<div *ngIf="loginPage" style="background-color: rgb(243, 49, 201);text-align: center;"><br>
  <h2>Login</h2><hr>
  <form #loginRef="ngForm" (ngSubmit)="login(loginRef)">
    &nbsp;<div>
    <b>Username : &nbsp;</b><input type="text" name="username" id="username" ngModel required>
    </div> <br>
    &nbsp;<div>
    <b>Password &nbsp;:&nbsp;&nbsp;</b> <input type="password" name="password" id="password" ngModel required>
    </div><br><hr><br>
    <div style="text-align: center;">
      &nbsp; <button type="submit" style="color: white; background-color: rgb(34, 160, 238);">Login</button> &nbsp;&nbsp;
      <button (click)="page('1')" style="background-color: rgb(4, 112, 4); color: white;">Register</button>
    </div><br>
    <div class="error">
      <h3 style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{msg}}</h3><br>
    </div>
  </form>
</div>

<div *ngIf = "registerPage" style="background-color: rgb(255, 86, 86);text-align: center;">
  &nbsp;<h2 style="color: rgb(251, 255, 0);">&nbsp;Registration</h2><hr>
  <form #registerRef="ngForm" (ngSubmit)="register(registerRef)"><br>
    <div>
      &nbsp;First Name : <input type="text" name="firstName" id="firstName" ngModel required>
    </div><br>
    <div>
      &nbsp;Last Name : <input type="text" ngModel required>
    </div><br>
    <div>
      &nbsp;Username &nbsp;&nbsp;: <input type="text" name="username" id="username" ngModel required>
    </div><br>
    <div>
      &nbsp;Password &nbsp;&nbsp;&nbsp;: <input type="password" name="password" id="password" ngModel required>
    </div><br><hr><br>
    <div>
      &nbsp;<button type="submit" style="background-color: green;color: white">Register</button> &nbsp;
      <button type="reset" style="background-color: red;color: white;">Reset</button>&nbsp;
      &nbsp;<button (click)="page('2')" style="background-color: rgb(12, 87, 134);color: white;">Login</button>&nbsp;<br>
    </div><br><hr><br>
  </form><br>
</div>

<div *ngIf="portfolioPage" style="text-align: center;background-color: salmon;">
  <h2>Portfolio</h2><hr>
  <h3>Welcome {{firstName}}</h3><hr>
  <form #portfolioRef="ngForm" (ngSubmit)="save(portfolioRef)">
    <div>
      &nbsp;Name : <input type="text" name="name" id="name" ngModel required>
    </div><br>
    <div>
       Phone : <input type="text" name="number" id="number" ngModel required>
    </div><hr>
    <div>
      <button type="submit" style="background-color: rgb(78, 255, 78);">Save</button>
    </div><hr>
  </form>

  <div>
    <table border="1" align="center" style="background-color: rgb(12, 74, 112);color: rgb(200, 200, 200)">
      <tr>
        <th> <b>&nbsp;Full Name&nbsp;</b></th>
        <th> <b>&nbsp;Phone No&nbsp;</b></th>
      </tr>
      <tr *ngFor="let i of contactArray">
        <td>{{i.name}}</td>
        <td>{{i.number}}</td>
      </tr>
    </table>
  </div><hr>
</div>